*.iml
.gradle
/local.properties
*/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*/__pycache__/*
*.pyc
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*jks
*keystore.properties
bitrise.yml
.bitrise.secrets.yml